#center_footer {
    width: 100%;
    position: fixed;
    bottom: 10px;
    text-align: center;
}

#login_box {
    text-align: center;
    margin-top: 100px;
}

#status_legend {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 100%;
    position: fixed;
    bottom: 50px;
    text-align: center;
}

#password_box_align {
    padding-right: 1.9%;
}

#output_table {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    
}

#input_table {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    
}

#input_table2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

input[type=text]:focus {
    border: 3px solid #555;
}

#new_remove_forms {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    float: left;
}