/*Output page CSS*/
#login_link {
    width: 100%;
    position: fixed;
    bottom: 10px;
    text-align: center;
    font-size: 80%;
}
#status_legend {
    margin-top: 50px;
    position: fixed;
    bottom: 40px;
    width: 100%;
    text-align: center;
    table-layout: fixed;
    font-size: 90%;
}

/*Login page CSS*/
#password_box_align {
    padding-right: 1.9%;
}

/*Input page CSS*/
#links {
    text-align: center;  
}

/*Cross-site CSS*/
tr.table_header {
  border-bottom: 1pt solid DarkBlue;
}
td.right_border {
    border-right: 1pt solid DarkBlue;
}
th.right_border {
    border-right: 1pt solid DarkBlue;
}
input[type=text]:focus {
    border: 3px solid #555;
}
#table_ {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    border-collapse: collapse;
}
#form_boxes {
    text-align: center;
    margin-top: 100px;
}







